footer {
    background-color: #d09440;
    color: #156982;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.social-links a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.social-links a:hover {
    color: #156982;
}