<header>
    <img src="/images/marthas-logo-white.png" alt="Martha's Good Eats">
    <nav>
        <a href="/">Home</a>
        <a href="/menu">View Menu</a>
        <a href="/add">Add Menu Item</a>
    </nav>
</header>

