<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <title>Martha's Good Eats</title>
</head>
<body>
    <%- include('partials/header') %>
    <main>
        <section class="hero">
            <img src="/images/martha.png" alt="Martha">
        </section>
        <section>
        <div class="about-section">
            <h2>About Martha's Good Eats</h2>
            <p>Welcome to Martha's Good Eats, where we serve delicious, home-cooked meals made with love and the freshest ingredients. <br> 
                Our restaurant is a family-owned business that prides itself on providing a warm and welcoming atmosphere for all our guests.</p>
            <p>Whether you're here for breakfast, lunch, or dinner, we have something to satisfy every craving.<br>Join us for a meal and become part of our family!</p>
            <div class="details">
                <h3>Hours of Operation</h3>
                <p>Monday - Friday: 8:00 AM - 10:00 PM</p>
                <p>Saturday: 9:00 AM - 11:00 PM</p>
                <p>Sunday: 9:00 AM - 8:00 PM</p>
            </div>
            <div class="details">
                <h3>Our Location</h3>
                <p>123 Foodie Lane</p>
                <p>Gourmet City, GC 12345</p>
                <p>Phone: (123) 456-7890</p>
                <p></p>
                <p></p>
                
            </div>
        </div>
        </section>
    </main>
    <%- include('partials/footer') %>
</body>
</html>
